@font-face {
  font-family: "Nunito";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Nunito/Nunito-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Nunito/Nunito-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Nunito/Nunito-Regular.woff2") format("woff2");
}
